{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load todo %}
{% block title %}Todo's list{% endblock %}
{% block content %}

<h3 class="block-inline">List of your todo list</h3>
<br>
<h4 class="float-end"><a href="{% url 'todo:create_view' %}" style="text-decoration: none;">Create a new todo!</a></h4><br>
<hr>
<div class="w-50"> 
        
        {% for object in object_list %}
        <div class="row">
                <div class="col-10">
                        <h5>{{ forloop.counter }}</h5>
                        <p>Title: {{ object.title }}</p>
                        <p>Description: {{ object.description|slice:":200" }},... <a href="{% url 'todo:detail_view' object.id %}" class="">see more</a></p>
                        <p>Deadline: {{ object.dead_line|date:'D j-n-Y' }}</p>
                        <p>Days remained: {% if object|get_remained_days < 0 %}passed{% else %} {{ object|get_remained_days }}   day{{ object|get_remained_days|pluralize }}{% endif %}</p>

                </div>
                <div class="col-2 mt-2">
                        <form action="{% url 'todo:delete_view' object.id %}" method="post" class="">
                                {% csrf_token %}
                                <input type="submit" value="Delete" class="form-control btn btn-danger">
                        </form>
                        <a href="{% url 'todo:update_view' object.id %}" class="form-control btn btn-success mt-2">Update</a>

        
                </div>
        </div>
        <hr>
        {% endfor %}
</div>

{% endblock %}